<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body>
    <div class="row container justify-content-center">
        <div class="col-md-6 offset-md-3">
            <h1>Welcome</h1>
            <p>Our venue is dedicated to keeping track of who is playing and what they are playing with.
            To facilitate our management all of you musicians and your instruments, please register.</p>
            <button type="submit" class="btn btn-primary">User Registration</button>
            <h5 class="mt-5">For existing users...</h5>
            <p>You can easily register an instrument by clicking the button below. If you plan to have many, please feel
                free to submit as many instrument registration forms as needed. We are here to support you and all of
                your many talents!</p>
            <button type="submit" class="btn btn-success">Register an Instrument</button>
        </div>
    </div>
</body>
</html>